---
import PageTitle from "../components/PageTitle.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { getLink } from "../utils";
import { getEntry } from "astro:content";
const { data, body } = await getEntry('about', 'about')
const { description, title, mainImage, secondaryImage, seoDescription, seoTitle } = data
const imgMain = mainImage.startsWith('http') ? mainImage : getLink(mainImage)
const imgSec = secondaryImage.startsWith('http') ? secondaryImage : getLink(secondaryImage)

---

<PageLayout
  title={seoTitle || title}
  description={seoDescription || description}
  footerProps={{ className: "lg:mt-20" }}
>
  <section class="w-full mx-auto">
    <div class="px-5 md:px-12 xl:px-24 space-y-10">
      <PageTitle> {title} </PageTitle>
      <img src={imgMain} alt="bgimage" />

      <h2
        class="text-whitee font-Cormorant text-3xl md:text-5xl font-bold leading-tight"
      >
        {description}
      </h2>
      <div class="grid md:grid-cols-2 gap-3 mt-[84px]">
        <div>
          {body.split('\n')
            .map(
              text => (
                <p class="text-supcream font-Montserrat text-lg font-normal leading-tight">{text}</p>
                <br />
            )
          )}
        </div>
        <img src={imgSec} />
      </div>
    </div>
  </section>
</PageLayout>
